:root {
    --task-completed-color: #00000030;
    --app-background-color: #262626;
    --task-background-color: #eaeaea; 
    --task-outline: 1px solid black; 
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--app-background-color);
}

.todo-app {
    font-family: Verdana, sans-serif;
    color: #ffffff;
    height: 100vh;
    margin: 0 auto;
    width: fit-content;
}

/* Header styles */

.todo-app__header {
    padding: 30px 0;
}

.todo-app__title {
    margin: 0 0 10px 0;
    text-align: center;
}

.todo-app__form {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.todo-app__task-input {
    height: 40px;
    background: #2e2e2e;
    color: #ffffff;
    padding: 0 20px;
    border: none !important;
    border-radius: 50px;
    outline: none !important;
    position: relative;
}

.todo-app__add-task-button {
    background-color: #e060552a;
    color: #e06155;
    outline: none;
    border: none;
    border-radius: 50px;
    width: 32px;
    height: 32px;
    font-size: 16px;
    cursor: pointer;
    transition: .2s ease-in-out;
}

.todo-app__add-task-button:hover {
    color: #ffffff;
    background-color: #e060553f;
}

/* List styles */

.todo-app__list {
    list-style: none;
}

.todo-app__item {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 18px 0;
    width: 400px;
    border-bottom: 1px solid #3d3d3d;
}

.todo-app__checkbox {
    outline: none !important;
    border: none !important;
    background-color: #ffffff18;
    border-radius: 20px;
    width: 28px;
    height: 28px;
    display: flex;
    cursor: pointer;
    transition: .1s ease-in-out;
}

.todo-app__checkbox:active {
    background-color: #ffffff24;
}

.todo-app__checkbox-icon {
    opacity: 0;
    transition: .1s ease-in-out;
}

.todo-app__checkbox-icon:hover {
    opacity: 0.2;
}

.todo-app__checkbox-icon--checked {
    opacity: 1;
}

.todo-app__delete {
    outline: none !important;
    border: none !important;
    margin-left: auto;
    background: none !important;
    width: 24px;
    height: 24px;
    cursor: pointer;
    transition: .2s ease-in-out;
}