:root {
    --task-completed-color: #ffffff30;
    --app-background-color: #262626;
    --button-bg-color: #e060552a;
    --button-hover-bg-color: #e060553f;
    --button-active-bg-color: #e0605577;
    --button-color: #e06155;
    --button-hover-color: #ffffff;
    --input-bg-color: #2e2e2e;
    --input-active-bg-color: #ffffff1e;
    --input-color: #ffffff;
    --checkbox-bg-color: #ffffff18;
    --checkbox-hover-bg-color: #ffffff34;
    --checkbox-active-bg-color: #ffffff38;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--app-background-color);
}

.todo-app {
    font-family: Verdana, sans-serif;
    color: #ffffff;
    height: 100vh;
    margin: 0 auto;
    width: fit-content;
}

.button {
    outline: none;
    border: none;
    cursor: pointer;
    transition: .2s ease-in-out;
    border-radius: 50px;
    width: 40px;
    height: 40px;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button__icon {
    width: 28px;
}

/* Submit button styles */

.button--submit {
    background-color: var(--button-bg-color);
    color: var(--button-color);
}

.button--submit:hover,
.button--submit:focus {
    color: var(--input-color);
    background-color: var(--button-active-bg-color);
}

.button--submit:active {
    color: var(--button-hover-color);
    background-color: var(--button-hover-bg-color);
}

/* Delete button styles */

.button--delete {
    margin-left: auto;
    background: none;
    width: 40px;
    height: 40px;
}

.button--delete:hover,
.button--delete:focus {
    background-color: var(--button-hover-bg-color);
}

.button--delete:active {
    background-color: var(--button-active-bg-color);
}

/* Checkbox button styles */

.button--checkbox {
    background-color: var(--checkbox-bg-color);
}

.button--checkbox .button__icon {
    display: none;
}

.button--checkbox:hover,
.button--checkbox:focus {
    background-color: var(--checkbox-hover-bg-color);
}

.button--checkbox:active {
    background-color: var(--checkbox-active-bg-color);
}

.task[data-completed="true"] .button--checkbox .button__icon {
    display: block;
}

/* Header styles */ 

.app__header {
    padding: 30px 0;
}

.header__title {
    margin: 0 0 10px 0;
    text-align: center;
}

.header__form {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.form__input {
    height: 40px;
    font-size: 18px;
    background: var(--input-bg-color);
    color: var(--input-color);
    padding: 0 20px;
    border: none;
    border-radius: 50px;
    outline: none;
    position: relative;
}

.form__input:focus {
    background-color: var(--input-active-bg-color);
}

/* Main styles */

.task-list {
    list-style: none;
}

.task {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 18px 0;
    width: 400px;
    font-size: 18px;
    border-bottom: 1px solid #3d3d3d;
}

.task[data-completed="true"] .task__text {
    text-decoration: line-through;
    color: var(--task-completed-color);
}



